@font-face {
  font-family: "bee-icon"; /* Project id 3971130 */
  src: url('iconfont.woff2?t=1679902844049') format('woff2'),
       url('iconfont.woff?t=1679902844049') format('woff'),
       url('iconfont.ttf?t=1679902844049') format('truetype');
}

.bee-icon {
  font-family: "bee-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bee-github:before {
  content: "\e600";
}

.bee-mail:before {
  content: "\e6af";
}

.bee-top:before {
  content: "\e6f5";
}

.bee-return:before {
  content: "\e662";
}

.bee-link:before {
  content: "\e6b6";
}

.bee-light:before {
  content: "\e64b";
}

.bee-dark:before {
  content: "\e6c2";
}

.bee-logo:before {
  content: "\e60c";
}

