@import "./define";
#app,html,body{
    @extend %oh;
    @extend %h100;
}
.el-message{
    z-index: 100001 !important;
}
.container-inner{
    @extend %pa;
    @extend %r0;
    @extend %b0;
    @extend %l0;
    @extend %t0;
    @extend %oya;
    overflow-y: scroll;
    padding: 0 20px 65px;
    .el-breadcrumb{
        @extend %f14;
        @include br(4px);
        height: 36px;
        line-height: 36px;
        padding: 0 15px;
        margin: 20px 0;
        background-color: #f5f5f5;
        span{
            color: #777;
        }
    }
    .line {
        @extend %tac;
    }
    .el-select{
        @extend %db;
    }
    .add-con{
        .el-checkbox{
            width: 160px;
            margin-left: 0 !important;
        }
    }
    &.inner-1{
        .el-form-item__label{
            width: 120px !important;
        }
        .el-form-item__content{
            margin-left: 120px !important;
        }
    }
}
.pagination-wrap{
    z-index: 1;
    @extend %pa;
    @extend %r0;
    @extend %b0;
    @extend %l0;
    @extend %tac;
    right: 18px;
    padding: 10px 0 20px;
    background-color: rgba(255,255,255,.9);
}
.operate-wrap{
    @extend %clearfix;
    margin-bottom: 20px;
    a,button{
        @extend %fl;
        margin-left: 10px;
    }
    .demo-form-inline{
        @extend %fr;
    }
    .el-form-item{
        margin-bottom: 0;
    }
}
.session-title{
    @extend %f16;
    @extend %fl;
    @extend %fwn;
    height: 36px;
    line-height: 36px;
}
.add-con{
    padding: 20px;
    .el-form{
        @extend %db;
        width: 500px;
    }
}
